<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="PMSMAVEN01.PMSUS.RestAPITEST"/>
      <class name="PMSMAVEN01.PMSUS.Selenium01Test"/>
      <class name="PMSMAVEN01.PMSUS.AppiumTest"/>
      <class name="PMSMAVEN01.PMSUS.SceonduserTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
